*{
    padding: 0;
    margin: 0;
}
.search#form{
    width: 30%;            
    margin: 100px auto;
    display: flex;
    /* border: 1px solid red; */
}
.search#form input{
    float: left;
    flex: 4;
    height: 30px;
    outline: none;
    border: 1px solid greenyellow;
    box-sizing: border-box;
    padding-left: 10px;
}
.search#form button{
    float: right;
    flex: 1;
    height: 30px;
    background-color:greenyellow;
    color: white;
    border-style: none;
    outline: none;
}
.search#form button i{
    font-style: normal;
}
.search#form button{
    font-size: 16px;
}